<h1>This is our index page</h1>
<ul>
  <%@articles.each do |article|%>
    <p>
    <strong><%= article.title%></strong>
      <p><%=article.content%></p>
      <%=link_to "New", articles_new_path%>
      <%=link_to "Read", article_path(article.id)%>
      </p>
  <%end%>
</ul>
